body {
  background: black;
  position: relative;
  text-align: center;
  color: black;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}

.button {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: white;
  background-color: green;
  border: 1px solid black;
  border-radius: 0.2em;
  padding: 0.4em;
  transition-duration: 0.4s;
}

#quote {
  border-left: 0.2em solid black;
  padding-left: 0.5em;
  justify-content: center;
  font-size: 2em;
  font-weight: 850;
  font-family: 'Maitree', serif;
  text-align: left;
}

#author {
  font-size: 1.5em;
  font-weight: lighter;
  font-family: 'Maitree', serif;
  text-align: right;
}

#quote-wrapper {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 50vh;
  margin: 3em auto;
  justify-content: center;
}

#quote-container {
  background: url("../img/tree_bark.png");
  margin: auto;
  padding: 2em;
  border-radius: 1em;
  border: 3px solid black;
}

.desc-text {
  margin-top: 5em;
}

.desc-text p {
  margin: 0.4em auto;
  font-size: 0.9em;
  color: #ecf0f1;
}

.twitter-button {
  background: url('../img/round_diamond_twitter.svg');
  background-size: contain;
  display: block;
  margin: 10px auto;
  width: 4em;
  height: 4em;
  outline: none;
  border: none;
}

.twitter-button:hover {
  cursor: pointer;
}

footer {
  height: 50px;
  color: #ecf0f1;
}

footer p {
  font-size: 0.8em;
}

footer a {
  color: #EAD5E6;
}

footer a:hover {
  background-color: #EAD5E6;
  color: black;
}

footer a:active {
  color: white;
}

@media (max-width: 600px) {
  * {
    font-size: 0.8em;
  }

  #quote {
    border-left: 0.2em solid black;
    padding-left: 0.5em;
    justify-content: center;
    font-size: 2.4em;
    font-family: 'Maitree', serif;
    text-align: left;
  }

  #author {
    font-size: 1.7em;
    font-weight: lighter;
    font-family: 'Maitree', serif;
    text-align: right;
  }

  #quote-container {
    border: 1.5px solid black;
  }

  .instruct-text {
    font-size: 1.2em;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  * {
    font-size: 0.9em;
  }

  .instruct-text {
    font-size: 1.1em;
  }

  #quote-container {
    border: 2px solid black;
  }
}